* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    position: fixed;
    margin: 0px 0px;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 5px 10px 18px #b3afaf;
}



footer .title-ft {
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 16px;

    font-weight: 700;
    text-transform: uppercase;
}

.main-bg-color {
    background-color: #006a31;
}


nav {
    background-color: #006a31;
}

.nav-list a {
    margin: 0 30px;
    align-self: center;
    color: #fff;
    font-weight: 500;
}

.nav-list a:hover {
    text-decoration: none;
}

.cart {
    background-color: #fff;
    width: 120px;
    border-radius: 25px;
    height: 40px;
}

.cart-btn {
    align-self: center;
    color: #006a31;
    font-weight: 500;
    text-decoration: none;
}

.cart-btn:hover {
    text-decoration: none;
}

.bi-cart3 {
    color: #006a31;
    align-self: center;
    margin-right: 10px;
}


.main-bg-color {
    background-color: #006a31;
}

ul {
    list-style-type: none;
}

.margin-nevgative-50 {
    margin: 0 -50px;
}

footer .title-ft {
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 16px;

    font-weight: 700;
    text-transform: uppercase;
}

.slogan {
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: #006a31;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.slogan:hover {
    text-decoration: none;
}

.language {
    width: 30px;
    height: 30px;
}

.language-btn {
    border: none;
}

.logo {
    width: 70px;
    height: 70px;
}

.login-btn :hover {
    text-decoration: none;
}

.login-btn,
.register-btn {
    color: black;
}

.form-select {
    border-radius: 20px;
    width: 150px;
    height: fit-content;
    height: 41px;
    margin: 24px 0;
    text-align: center;
}

.header-storebtn {
    background: #d50e15;
    border-radius: 20px;
    width: 150px;
    height: fit-content;
    font-size: 20px;
}

.header-storebtn p {
    color: #fff;
    text-align: center;
    margin: 5px 0;
}

footer .address>p {
    margin-bottom: 2px !important
}


